# Database Configuration
# Скопіюйте цей файл як .env і заповніть реальними даними

DB_HOST=db-athlete.cl6g424k24bn.eu-north-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=your-password-here
DB_NAME=skibytskyi2

